body {
  margin: 0;
  padding: 0;
  font-family: Monospace;
  background: rgb(0, 0, 0);
  border-color: rgb(120, 255, 57);
  color: rgb(120, 255, 57)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
